*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 500px;
    margin: auto;
}

.body{
    margin: 50px;
    font-style: normal;
    font-weight: 400;
}

.emoji {
    display: inline-block;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}
            
.counter {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}

.btn {
    padding: 15px;
    color: rgb(42, 27, 56);
}